---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Khai Haidari - Resume">
  <main class="mt-24 flex flex-col gap-4">
    <h1 class="text-3xl font-bold">Resume</h1>
    <p>Interested in hiring me? Check out my resume below!</p>
    <a
      download
      href="../../public/Khairullah Haidari (Khai) Resume.pdf"
      class="underline text-blue-500">Download Resume</a
    >
  </main>
</Layout>
