---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Khai Haidari - Resume">
  <main class="my-24 flex flex-col gap-4">
    <h1 class="text-3xl font-bold">Resume</h1>
    <p>
      Interested in hiring me? Check out my resume below! Also Feel free to
      contact me through the <a class="text-blue-500 underline" href="/contact"
        >contact page!</a
      >
    </p>
    <a
      download
      href="../../public/Khairullah Haidari (Khai) Resume.pdf"
      class="h-[380px] flex flex-col gap-6 items-center justify-center rounded bg-blue-500 font-bold text-2xl text-white"
    >
      <p>Download Resume</p>
      <img src="/icons/Download Icon.svg" alt="Faild to load image!" />
    </a>
  </main>
</Layout>
