---
const { title, desc, link } = Astro.props;
---

<a href={link} class="p-6 rounded-lg border-2 flex flex-col gap-2">
  <p class="text-xl font-bold">{title}</p>
  <p>{desc}</p>
  <p class="text-blue-500 underline">Learn More</p>
</a>
