<div class="sticky top-0 py-3 bg-white">
  <nav class="flex items-center gap-4">
    <a href="/" class="py-2 px-3 rounded bg-blue-500 text-white font-bold">
      Khai</a
    >
    <ul class="flex ga-4 mx-auto gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <div><img src="/icons/Menu.svg" alt="faild to load image!" /></div>
  </nav>
</div>
