<div>
  <nav class="flex items-center">
    <a href="/" class="py-2 px-3 rounded bg-blue-500 text-white font-bold">
      Khai</a
    >
    <ul class="flex ga-4 ml-auto gap-4 underline underline-offset-2">
      <li><a href="/">Home</a></li>
      <li><a href="/Khairullah Haidari (Khai) Resume.pdf">Resume</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>
